<div class="microwave">
    <div class="display">
      <p>Time: {{ minutes }}:{{ seconds }}</p>
      <p>Power: {{ power }}</p>
    </div>
    <div class="numeric-buttons">
      <button *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]" (click)="setTimeOrPower(number)">
        {{ number }}
      </button>
    </div>
  
    <div class="buttons">
      <div class="predefined">
        <h3>Predefined Buttons</h3>
        <button *ngFor="let button of predefinedButtons" (click)="selectPredefined(button)">
          {{ button.nome }}
        </button>
      </div>
  
      <div class="custom">
        <h3>Custom Buttons</h3>
        <button *ngFor="let button of customButtons" (click)="handleCustomClick(button)">
          Custom {{ button.id }}
        </button>
      </div>
      
      <div class="controls">
        <button (click)="settingPower = !settingPower">
          Set {{ settingPower ? 'Time' : 'Power' }}
        </button>
        <button (click)="startOrPause()">{{ running ? 'Pause' : 'Start' }}</button>
        <button (click)="add30Seconds()">+30 Seconds</button>
        <button (click)="cancel()">Cancel</button>
      </div>
    
    </div>
    <div class="display">
      <p>Time: {{ minutes }}:{{ seconds }}</p>
      <p>Power: {{ power }}</p>
      <p *ngIf="running" class="heating-string">Heating: {{ powerOutput }}</p>
    </div>
  </div>
  